body {
  background-color: #EFEFEF;
  font-family: 'Poiret One', cursive;
  text-align: center; }

a {
  color: #5BBBC5; }

#home-slide {
  background: url(/assets/rooster-7d7654593154861abfd4a86af032dcb6aa59213c52a7007ec2ec8bb557552d0b.jpg) 50% 0 no-repeat;
  height: 600px;
  padding: 200px 0 100px 0;
  background-size: cover; }

#work-slide, #about-me-slide, .split-slide, #contact-slide {
  background: #8CCED5; }

#work-slide, #about-me-slide {
  height: 700px; }

.split-slide {
  width: 100%; }

.split-slide-image {
  width: 40%; }

#contact-slide {
  height: 800px; }

#rooster-link, .intro-info {
  color: white; }

.content, .slide-content {
  background: #FFF; }

.content {
  width: 80%;
  margin: 0 10%;
  padding: 150px 0;
  height: 400px; }

.slide-content {
  width: 80%;
  margin: 0 10%;
  padding-top: 200px; }

#header {
  color: #000;
  text-align: center;
  padding-top: 15px;
  width: 100%;
  position: fixed;
  background: #EAEAEA;
  opacity: 0.7; }

.top-nav-option {
  display: inline-block;
  padding: 25px;
  padding-top: 5px;
  font-size: 1.2em; }

#about-me-header, .intro-info {
  font-family: 'Poiret One', cursive; }

.intro-info {
  letter-spacing: 2px;
  font-weight: normal; }

#welcome-info {
  padding-top: 115px; }

#down-arrows:before {
  content: url("down-arrows.png"); }

#learn-more {
  height: 180px; }

#learn-more > a > img {
  margin-right: 9%;
  float: right; }

#main-question {
  margin: 17% 3% 0 5%;
  font-size: 1.7em;
  color: white;
  text-align: right; }

.work-content {
  font-size: 2em;
  padding: 15px 70px; }

.thoughtworks-link, .thoughtworks-link:visited {
  color: #8CCED5; }

.thoughtworks-link:hover {
  color: #EF5BA1; }

#travel-map {
  border: lightgray 14px solid;
  float: left;
  margin-left: 10%; }

#professional {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 4em; }

#photoslider {
  width: 500px;
  height: 400px;
  margin-top: 20px;
  border: #afccd3 18px solid; }

#picture-show {
  position: relative;
  margin-left: 17%; }

#about-me-header {
  margin-top: -60px;
  font-size: 2em; }

#about-me-content {
  padding: 30px 60px;
  font-size: 1.5em; }

#pic-left-arrow, #pic-right-arrow {
  height: 50px !important;
  width: 50px !important;
  text-align: left;
  padding-top: 235px;
  cursor: pointer; }

#pic-left-arrow {
  float: left; }

#pic-right-arrow {
  float: right;
  padding-right: 20%; }

#contact-content, .intro-info {
  font-size: 3em; }
