<div id="home-body">

  <div id="main-name">Nicolas Helvig</div>
  <div id="header">

    <div class="top-nav-option"><%= link_to 'Home', root_path %></div>
    <div class="top-nav-option"><%= link_to 'Blog', controller: 'articles' %></div>
    <div class="top-nav-option">Map</div>
    <div class="top-nav-option"><%= link_to 'Stocks', controller: 'stocks' %></div>
    <div class="top-nav-option">Contact</div>

  </div>
</div>





