// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-repeat: no-repeat;
  background-image: url('images/iceland-glacier.jpg');
  background-size: cover;
}

#home-body {
  text-align: center;
  margin-top: 25px;
  height: 100%;
}

#main-name {
  font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  font-size: 72pt;
  opacity: .95;
}