<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag 'review', media: 'all', 'data-turbolinks-track' => true %>
    <meta charset="UTF-8">
    <title>Review Page</title>
</head>
<body>
  <h1>Nicolas Helvig</h1>
  <h2>12 Month Review</h2>
  <h3>September 23, 2016</h3>

  <div class="review-section">
    <div class="review-section-title">Recap</div>
    <div class="review-section-content">
      <div id="review-recap">
        <div class="sub-section">
          <p class="sub-section-title">Pricebook (1.5 months)</p>
          <p class="sub-section-content">- Had changes to our scope 3 days before we were supposed to go live.</p>
          <p class="sub-section-content">- Had issues going to production. First high pressure moment because customers were not happy.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Lord and Taylor Migration (4.5 months)</p>
          <p class="sub-section-content">- First time working with a distributed team.</p>
          <p class="sub-section-content">- First to pair with the Brazil tech lead, which was a boost because it showed me how much I had actually learned.</p>
          <p class="sub-section-content">- Worked a lot with the infrastructure team.</p>
          <p class="sub-section-content">- Unrealistic deadlines, a lot of conversations about that.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Goal Reflections</div>
    <div class="review-section-content">
      <div id="review-goal-reflections">
        <div class="sub-section">
          <p class="sub-section-title">Build a CRUD web app for investments with UI that has dynamic graphs.</p>
          <p class="sub-section-content"><a href="https://nicolashelvig.herokuapp.com/investmentTracker">- Done.</a></p>
          <p class="sub-section-content">- Completed everything I wanted to complete.</p>
          <p class="sub-section-content">- Made the <a href="https://nicolashelvig.herokuapp.com/">overall website</a> better with improvements to UI and user experience.</p>
          <p class="sub-section-content">- Learned about some different technologies along the way (rails, heroku, bootstrap, snap)</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Do some kind of P3 activity at least once every 3 weeks.</p>
          <p class="sub-section-content">- Was not able to do this.</p>
          <p class="sub-section-content">- Communication was slow, and by the time they knew what they wanted I was trying to maintain focus on other things.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Onboard faster. It will still take time to get up to speed but things like taking notes can speed it up to a couple weeks.</p>
          <p class="sub-section-content">- I was able to begin the next project much faster.</p>
          <p class="sub-section-content">- I was now in a position where I needed to onboard others.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Challenges</div>
    <div class="review-section-content">
      <div id="review-challenges">
        <div class="sub-section">
          <p class="sub-section-title">Balancing the things that I want to do/accomplish, especially because they often conflict</p>
          <p class="sub-section-content">- P3</p>
          <p class="sub-section-content">- Stories on the project</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">DevOps</p>
          <p class="sub-section-content">- Had not done any devops before this, and didn't know what I was getting myself into.</p>
          <p class="sub-section-content">- At times, felt like I was not contributing fast enough.</p>
          <p class="sub-section-content">- Was excited to do new things but also realized it was not my favorite.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Speaking about things I have less knowledge in</p>
          <p class="sub-section-content">- Tend to agree to what others say if I feel they are more experienced</p>
          <p class="sub-section-content">- Both good and bad, but I could push back more when things don't feel right</p>
          <p class="sub-section-content">- Will be working on taking the time to reflect on these moments after the fact.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Wins</div>
    <div class="review-section-content">
      <div id="review-wins">
        <div class="sub-section">
          <p class="sub-section-title">Focus/Consistency</p>
          <p class="sub-section-content">- Website</p>
          <p class="sub-section-content">- Spanish</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Client relationships</p>
          <p class="sub-section-content">- Improved relationship with other departments by working closely with them (infrastructure)</p>
          <p class="sub-section-content">- Able to give feedback to senior client developers</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">DevOps</p>
          <p class="sub-section-content">- Learned a lot about pipelines, micro services, deployments</p>
          <p class="sub-section-content">- Able to troubleshoot a lot of the issues that the team encounters with environments</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have grown</div>
    <div class="review-section-content">
      <div id="review-grown">
        <div class="sub-section">
          <p class="sub-section-title">Being a consultant instead of just a developer.</p>
          <p class="sub-section-content">- On the Pricebook project (all TWers) the client was nonexistent, now I am able to comfortably talk to all of the clients on our team.</p>
          <p class="sub-section-content">- Clients feel comfortable coming to me to ask me questions. More importantly, they respect what I have to say when I give advice on their troubleshooting.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Technical abilities</p>
          <p class="sub-section-content">- Not being complacent in technical skills, but also not trying everything under the sun. Spending time to get a deeper understanding of the tech stack.</p>
          <p class="sub-section-content">- Feel comfortable picking up any story</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Confidence</p>
          <p class="sub-section-content">- Had been a weak spot</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have been able to contribute</div>
    <div class="review-section-content">
      <div id="review-contributions">
        <div class="sub-section">
          <p class="sub-section-title">Onboarding new people</p>
          <p class="sub-section-content">- Brazil team, Toby, clients</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Infrastructure issues</p>
          <p class="sub-section-content">- Project was partially blocked for almost 2 months because we did not have usable environments to develop in.</p>
          <p class="sub-section-content">- Helped the infrastructure team get things up and running, and continue to be someone they can call on if they need more help.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Communicating effectively</p>
          <p class="sub-section-content">- Point person for giving feedback to our client tech lead</p>
          <p class="sub-section-content">- Able to troubleshoot with people and teach them about why they may have made a mistake</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Self-Assessment</div>
    <div class="review-section-content">
      <div id="review-assessment">
        <p class="sub-section-content">- A lot to improve upon. Jack of (more) trades, master of none.</p>

        <p class="sub-section-content">- I think I have accomplished everything in the <a href="https://thoughtworks.jiveon.com/docs/DOC-26631#jive_content_id_3_WHAT_SUCCESS_LOOKS_LIKE">"By Month 12" section </a>of the expectations, as well as some of the things in the "By Month 18" section.</p> 
        <p class="sub-section-content">- Would like to build upon that and also try to do things in the "By Month 24" section.</p>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Goals over the next 6 months</div>
    <div class="review-section-content">
      <div id="review-goals">
        <p class="sub-section-content">- Build network outside of my team; go to office at least once every 3 weeks. Speak at something in the office (First Friday, AC conference, etc.)</p>
        <p class="sub-section-content">- P3 involvement….. again. Do something at least once every 3 weeks. I will hopefully be able to find something consistent.</p>
        <p class="sub-section-content">- Find a conference to go to after this project is over (end of January) and give a talk about something I learn.</p>
      </div>
    </div>
  </div>
</body>
</html>