<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag 'review', media: 'all', 'data-turbolinks-track' => true %>
    <meta charset="UTF-8">
    <title>Review Page</title>
</head>
<body>
  <h1>Nicolas Helvig</h1>
  <h2>18 Month Review</h2>
  <h3>March 27, 2017</h3>

  <div class="review-section">
    <div class="review-section-title">Recap</div>
    <div class="review-section-content">
      <div id="review-recap">
        <div class="sub-section">
          <p class="sub-section-title">Lord and Taylor Migration (all 6 months)</p>
          <p class="sub-section-content">- Deadline continued to get pushed back, constantly having conversations to be transparent.</p>
          <p class="sub-section-content">- A lot more turnover on TW side, led to some apprehension from the client, especially with the "deadline" always just around the corner.</p>
          <p class="sub-section-content">- Roll off was also delayed.</p>
          <p class="sub-section-content">- Went to Brazil at the beginning of January for 3 weeks, and then for another 4 weeks that started in mid February.</p>
          <p class="sub-section-content">- A lot of people at manager level were suddenly let go in early February.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Goal Reflections</div>
    <div class="review-section-content">
      <div id="review-goal-reflections">
        <div class="sub-section">
          <p class="sub-section-title">Build network outside of my team; go to office at least once every 3 weeks. Speak at something in the office (First Friday, AC conference, etc.)</p>
          <p class="sub-section-content">- I went to a lot of office events in NY (pub nights, AR/VR party, game nights), and met a lot of people through that.</a></p>
          <p class="sub-section-content">- Joined the AC Advisory Council and have spent time reaching out to other people in the program.</a></p>
          <p class="sub-section-content">- Working in the Belo Horizonte office has given me a chance to meet many more people.</p>
          <p class="sub-section-content">- Didn't speak at anything but for the purposes of growing my network this has been a success.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">P3 involvement... again. Do something at least once every 3 weeks. I will hopefully be able to find something consistent.</p>
          <p class="sub-section-content">- A lot more involved with educationfirst the past few months.</p>
          <p class="sub-section-content">- Now I need to redo the work on a new tool (CircleCI) since Snap is dying.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Find a conference to go to after this project is over (end of January) and give a talk about something I learn.</p>
          <p class="sub-section-content">- Went to a design conference in London.</p>
          <p class="sub-section-content">- Did not give an official talk about it but had a lot of conversations with others on the things I learned there.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Challenges</div>
    <div class="review-section-content">
      <div id="review-challenges">
        <div class="sub-section">
          <p class="sub-section-title">Going to Brazil</p>
          <p class="sub-section-content">- Cool experience but definitely has its difficulties</p>
          <p class="sub-section-content">- Language barrier and being far from friends and family</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Turnover on the team</p>
          <p class="sub-section-content">- A lot of people changing on the team, both from TW and client</p>
          <p class="sub-section-content">- First time dealing with a non-static team roster</p>
          <p class="sub-section-content">- Needing to onboard people in the middle of the project</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Having difficult things going on outside of work</p>
          <p class="sub-section-content">- Exhausting.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Wins</div>
    <div class="review-section-content">
      <div id="review-wins">
        <div class="sub-section">
          <p class="sub-section-title">Fixing the "unfixable"</p>
          <p class="sub-section-content">- Left Nav</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Making architecture decisions</p>
          <p class="sub-section-content">- Paypal and giftwrap</p>
          <p class="sub-section-content">- Was only non-tech lead involved in estimation session for a new feature</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Influencing client team members</p>
          <p class="sub-section-content">- Changing QA process</p>
          <p class="sub-section-content">- Pairing</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have grown</div>
    <div class="review-section-content">
      <div id="review-grown">
        <div class="sub-section">
          <p class="sub-section-title">Seeing a project from multiple perspectives</p>
          <p class="sub-section-content">- Local vs distributed</p>
          <p class="sub-section-content">- Details vs big picture</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Leadership</p>
          <p class="sub-section-content">- Able to utilize the relationships I've formed.</p>
          <p class="sub-section-content">- Comes from trusting that I am doing the best I know how.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Pushing back</p>
          <p class="sub-section-content">- Inventory defect</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Self-Assessment</div>
    <div class="review-section-content">
      <div id="review-assessment">
        <p class="sub-section-content">- A lot to improve upon. Jack of (more) trades, master of none.</p>
        <p class="sub-section-content">- I feel a lot more comfortable making decisions and contributing.</p> 
        <p class="sub-section-content">- I think where I have the most room to improve on is sharing knowledge in ways other than answering questions when they come up.</p>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Goals over the next 6 months</div>
    <div class="review-section-content">
      <div id="review-goals">
        <p class="sub-section-content">- Learn conversational Portuguese</p>
        <p class="sub-section-content">- Continue P3 contributions, but try to find something in Brazil.</p>
        <p class="sub-section-content">- Get new Brazil teams up to speed quickly. Means making a list of key concepts and presenting them to the team as we come across them.</p>
      </div> 
    </div>
  </div>
</body>
</html>