<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'pics', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <h1 class="photo-top">Photos</h1>
    <div class="image-overlay" data-content="Malawi"><img class="picture" id="malawi" src="assets/travel/malawi.jpg"></div>
    <div class="image-overlay" data-content="Haiti"><img class="picture" src="assets/travel/haiti.jpg"></div>
    <div class="image-overlay" data-content="Peru"><img class="picture" src="assets/travel/peru.jpg"></div>
    <div class="image-overlay" data-content="Ecuador"><img class="picture" src="assets/travel/ecuador.jpg"></div>
    <div class="image-overlay" data-content="Rio de Janiero, Brazil"><img class="picture" src="assets/travel/rio.jpg"></div>
    <!--<div class="image-overlay" data-content="Iceland"><img class="picture" src="assets/travel/iceland.jpg"></div>-->
    <div class="image-overlay" data-content="Iceland"><img class="picture" src="assets/travel/iceland2.jpg"></div>
    <!--<div class="image-overlay" data-content="Iceland">           <img class="picture" src="assets/travel/iceland3.jpg"/>   </div>-->
    <div class="image-overlay" data-content="France"><img class="picture" src="assets/travel/versailles.jpg"/></div>
    <!--<div class="image-overlay" data-content="Barcalona, Spain">  <img class="picture" src="assets/travel/barcalona.jpg"/> </div>-->
    <!--<div class="image-overlay" data-content="Lisbon, Portugal"><img class="picture" src="assets/travel/lisbon.jpg"/></div>-->
    <div class="image-overlay" data-content="Portugal"><img class="picture" src="assets/travel/sintra.jpg"></div>
    <!--<div class="image-overlay" data-content="Sintra, Portugal"><img class="picture" src="assets/travel/sintra2.jpg"></div>-->
    <!--<div class="image-overlay" data-content="Porto, Portugal"><img class="picture" src="assets/travel/porto.jpg"></div>-->
    <div class="image-overlay" data-content="Spain"><img class="picture" src="assets/travel/spain.jpg"></div>
    <!--<div class="image-overlay" data-content="Switzerland"><img class="picture" src="assets/travel/geneva.jpg"></div>-->
    <div class="image-overlay" data-content="Switzerland"><img class="picture" src="assets/travel/switzerland.jpg"></div>
    <div class="image-overlay" data-content="Italy"><img class="picture" src="assets/travel/italy.jpg"></div>
    <div class="image-overlay" data-content="Slovenia"><img class="picture" src="assets/travel/slovenia.jpg"></div>
    <!--<div class="image-overlay" data-content="Vienna, Austria"><img class="picture" src="assets/travel/vienna.jpg"></div>-->
    <div class="image-overlay" data-content="Austria"><img class="picture" src="assets/travel/linz.jpg"></div>
    <!--<div class="image-overlay" data-content="Germany"><img class="picture" src="assets/travel/munich.jpg"></div>-->
    <div class="image-overlay" data-content="Czech Republic"><img class="picture" src="assets/travel/prague.jpg"></div>
    <div class="image-overlay" data-content="Germany"><img class="picture" src="assets/travel/berlin.jpg"></div>
    <div class="image-overlay" data-content="Belgium"><img class="picture" src="assets/travel/brugge.jpg"></div>
    <div class="image-overlay" data-content="Netherlands"><img class="picture" src="assets/travel/amsterdam.jpg"></div>
    <div class="image-overlay" data-content="Norway"><img class="picture" src="assets/travel/norway.jpg"></div>
    <div class="image-overlay" data-content="Sweden"><img class="picture" src="assets/travel/sweden.jpg"></div>
    <div class="image-overlay" data-content="India"><img class="picture" src="assets/travel/india.jpg"></div>
    <div class="image-overlay" data-content="New York"><img class="picture" src="assets/travel/new_york.jpg"></div>
    <div class="image-overlay" data-content="Florida"><img class="picture" src="assets/travel/florida.jpg"></div>
  </body>
</html>