<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag 'review', media: 'all', 'data-turbolinks-track' => true %>
    <meta charset="UTF-8">
    <title>Review Page</title>
</head>
<body>
  <h1>Nicolas Helvig</h1>
  <h2>6 Month Review</h2>
  <h3>March 22, 2016</h3>

  <div class="review-section">
    <div class="review-section-title">Recap</div>
    <div class="review-section-content">
      <div id="review-recap">
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
        This is where the recap of the past 6 months will be.
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Wins</div>
    <div class="review-section-content">
      <div id="review-wins">
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
        This is where the 3 big wins will be.
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Challenges</div>
    <div class="review-section-content">
      <div id="review-challenges">
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
        This is where the 3 challenges will be.
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have grown</div>
    <div class="review-section-content">
      <div id="review-grown">
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
        This is where I will put how I have grown.
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have been able to contribute</div>
    <div class="review-section-content">
      <div id="review-contributions">
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
        This is where I will put the ways I have been able to contribute.
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Self-Assessment</div>
    <div class="review-section-content">
      <div id="review-assessment">
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
        This is where I will put my self-assessment.
      </div>
    </div>
  </div>
</body>
</html>