<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag 'review', media: 'all', 'data-turbolinks-track' => true %>
    <meta charset="UTF-8">
    <title>Review Page</title>
</head>
<body>
  <h1>Nicolas Helvig</h1>
  <h2>6 Month Review</h2>
  <h3>March 22, 2016</h3>

  <div class="review-section">
    <div class="review-section-title">Recap</div>
    <div class="review-section-content">
      <div id="review-recap">
        <div class="sub-section">
          <p class="sub-section-title">TWU (1.5 months)</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Shoprunner (1 month)</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Pricebook (3.5 months)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Wins</div>
    <div class="review-section-content">
      <div id="review-wins">
        <div class="sub-section">
          <p class="sub-section-title">Anchoring stories/go-to person for Endeca</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Getting involved in security</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Website</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Challenges</div>
    <div class="review-section-content">
      <div id="review-challenges">
        <div class="sub-section">
          <p class="sub-section-title">Prioritizing things that I wanted to focus on</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">P3 Involvement</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Onboarding</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have grown</div>
    <div class="review-section-content">
      <div id="review-grown">
        <div class="sub-section">
          <p class="sub-section-title">Confidence in abilities</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have been able to contribute</div>
    <div class="review-section-content">
      <div id="review-contributions">
        <div class="sub-section">
          <p class="sub-section-title">Security</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Best Practices/Signals and Impacts</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Self-Assessment</div>
    <div class="review-section-content">
      <div id="review-assessment">
        <p>What to put for my self assessment?</p>
      </div>
    </div>
  </div>
</body>
</html>