<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag 'review', media: 'all', 'data-turbolinks-track' => true %>
    <meta charset="UTF-8">
    <title>Review Page</title>
</head>
<body>
  <h1>Nicolas Helvig</h1>
  <h2>6 Month Review</h2>
  <h3>March 22, 2016</h3>

  <div class="review-section">
    <div class="review-section-title">Recap</div>
    <div class="review-section-content">
      <div id="review-recap">
        <div class="sub-section">
          <p class="sub-section-title">TWU (1.5 months)</p>
          <p class="sub-section-content">- Learned a lot</p>
          <p class="sub-section-content">- Found myself in a leadership position on my team. It was good to figure things out from that perspective.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Shoprunner (1 month)</p>
          <p class="sub-section-content">- Project was winding down, only did minor bug fixes and spikes for the future project.</p>
          <p class="sub-section-content">- Very different being the most inexperienced person on the team.</p>
          <p class="sub-section-content">- Had to figure out a way to contribute.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Pricebook (3.5 months)</p>
          <p class="sub-section-content">- First "real" project</p>
          <p class="sub-section-content">- Took some time to get a hang of things</p>
          <p class="sub-section-content">- Learned a lot through pairing, also through working on my own</p>
          <p class="sub-section-content">- Handled the associate commission system.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Volunteering</p>
          <p class="sub-section-content">- Mikva Challenge</p>
          <p class="sub-section-content">- Books and Breakfast</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Wins</div>
    <div class="review-section-content">
      <div id="review-wins">
        <div class="sub-section">
          <p class="sub-section-title">Anchoring stories</p>
          <p class="sub-section-content">- Handled the first phase of the project.</p>
          <p class="sub-section-content">- Became a go-to person for the client search engine.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Getting involved in security</p>
          <p class="sub-section-content">- Sent an email </p>
          <p class="sub-section-content">- Went to security event</p>
          <p class="sub-section-content">- Involved in "security-in-our-dna" call</p>
          <p class="sub-section-content">- Took online course</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Website</p>
          <p class="sub-section-content">- Set up deployment pipeline</p>
          <p class="sub-section-content">- Tried to work on different frontend techniques</p>
          <p class="sub-section-content">- Got help from Abby</p>
          <p class="sub-section-content">- Started on a webapp to track investments</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">3 Challenges</div>
    <div class="review-section-content">
      <div id="review-challenges">
        <div class="sub-section">
          <p class="sub-section-title">Prioritizing things that I wanted to focus on</p>
          <p class="sub-section-content">- Had trouble trying to pick goals</p>
          <p class="sub-section-content">- Just wanted to learn, so goals ended up not being very measurable</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">P3 Involvement</p>
          <p class="sub-section-content">- Went to a few scattered events, but nothing on a consistent basis.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Onboarding</p>
          <p class="sub-section-content">- I felt like it took a long time to really contribute.</p>
          <p class="sub-section-content">- I felt really lost at times.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have grown</div>
    <div class="review-section-content">
      <div id="review-grown">
        <div class="sub-section">
          <p class="sub-section-title">Technical abilities</p>
          <p class="sub-section-content">- Able to talk about the different technologies we use and the pros and cons of each.</p>
          <p class="sub-section-content">- Has lead to an increase in confidence.</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Confidence in abilities</p>
          <p class="sub-section-content">- I believe it is a direct result of the increase in technical ability</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">How I have been able to contribute</div>
    <div class="review-section-content">
      <div id="review-contributions">
        <div class="sub-section">
          <p class="sub-section-title">Security</p>
          <p class="sub-section-content">- Mostly in the team setting</p>
          <p class="sub-section-content">- Tried to get rid of obvious security breakdowns</p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Best Practices</p>
          <p class="sub-section-content">- Advocated for desk checks to be run by the analysts instead of the developers</p>
          <p class="sub-section-content">- Got access to functional tests</p>
          <p class="sub-section-content">- </p>
        </div>
        <div class="sub-section">
          <p class="sub-section-title">Signals and Impacts</p>
          <p class="sub-section-content">- Worked with CP to put together a document detailing things we saw that could be improved.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Self-Assessment</div>
    <div class="review-section-content">
      <div id="review-assessment">
        <p>How do I fit into the 6-12 month bucket?</p>
        <p>Goals are to do things in the next 6 months to build on that.</p>
      </div>
    </div>
  </div>
  <div class="review-section">
    <div class="review-section-title">Goals over the next 6 months</div>
    <div class="review-section-content">
      <div id="review-goals">
        <p>- Build a web app for investments with UI that has dynamic graphs.</p>
        <p>- Do some kind of P3 activity at least once every 3 weeks.</p>
        <p>- Onboard faster. It will still take time to get up to speed but things like taking notes can speed it up to a couple weeks.</p>
      </div>
    </div>
  </div>
</body>
</html>