<div id="header" xmlns="http://www.w3.org/1999/html">
  <nav id="menu-options">
    <ul>
      <li class="top-nav-option"><a href="#home-slide">Home</a></li>
      <li class="top-nav-option"><a href="#about-me-slide">About Me</a></li>
      <li class="top-nav-option"><a href="#work-slide">Work</a></li>
      <li class="top-nav-option"><a href="#contact-slide">Contact</a></li>
      <!--<li class="top-nav-option"><%= link_to 'Blog', controller: 'articles' %></li>-->
      <!--<li class="top-nav-option"><%= link_to 'Stocks', controller: 'transactions' %></li>-->
    </ul>
  </nav>
</div>