<div id="header">
  <h2 id="welcome">Welcome</h2>

  <div class="top-nav-option">Home</div>
  <div class="top-nav-option">About Me</div>
  <div class="top-nav-option">Map</div>
  <div class="top-nav-option">Contact</div>

</div>